body{
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  background-color: #E0EBE8;
}
h1{
  padding-top: 200px;
  margin: 0;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #FFE61B;
}
h2{
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 2.5rem;
  font-weight:normal;
  color: #1C6DD0;
}
h3{
  font-family: 'Montserrat Alternates', sans-serif;
  color: #1C6DD0;
}
p{
  line-height: 2;
}
hr{
  border: dotted #203239 6px;
  border-bottom: none;
  width: 4%;
}
a{
  color: #1C6DD0;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover{
  color: #E0EBE8;
}


.top{
  /*background-color: #E0EBE8;*/
  background-image: url(300.jpg);
  background-position: center;
  height: 720px;
}
.profile{
  width: 50%;
  margin: 50px auto 50px auto;

}
.skill-row{
  width: 50%;
  margin : 0 auto 100px auto;
  text-align: left;

}
.code-img{
  width: 30%;
  float: left;
  margin-right: 30px;
}
.editing-img{
  width: 30%;
  float:right;
  margin-left: 30px;
}
.btn {
  background: #11CDD4;
  background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
  background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
  background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
  background-image: -o-linear-gradient(top, #11CDD4, #11999E);
  background-image: linear-gradient(to bottom, #11CDD4, #11999E);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat Alternates', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30E3CB;
  background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: linear-gradient(to bottom, #30E3CB, #2BC4AD);
  text-decoration: none;
}
.bottom{
  background-color: #66bfbf;
  margin: 100px auto 0 auto;
  padding: 50px 0 20px;
}
.copyright{
  color: #E0EBE8;
  font-size: 0.75rem;
  padding: 20px 0;
}
